doctype html
html 
    head 
        title Welcome to YesBlogPlease!
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
    header.p-3.bg-dark.text-white
        .container
            .d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start
                a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none(href='/')
                h3 YesBlogPlease! &emsp; 
    
                ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-center.mb-md-0
                    li
                        a.nav-link.px-2.text-secondary(href='/') Home
                    if user
                        li
                            a.nav-link.px-2.text-white(href='/blogs/add') Add Blog
                                
                .text-end
                if user 
                    h5.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-end #{user.name} &emsp;
                    a.btn.btn-outline-light.me-2(href='/users/logout' type='button') Log Out
                else
                    a.btn.btn-outline-light.me-2(href='/users/login' type='button') Log In
                    a.btn.btn-warning(href='/users/register' type='button') Sign Up

    br
    .container
        != messages('message',locals)
        if errors
            each error,i in errors
                div(class="alert alert-danger") #{error.msg}
        block content 
        br
        hr
        footer 
            p Copyright &copy; 2021
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/main.js") 