doctype html
html 
    head 
        title Backend App
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body
    .container
        header.d-flex.justify-content-center.py-3
            ul.nav.nav-pills
                li.nav-item
                    a.nav-link.active(href='/' aria-current='page') Home
                li.nav-item
                    a.nav-link(href='/pages/add') Add Pages

    .container
        != messages('message',locals)
        if errors
            each error,i in errors
                div(class="alert alert-danger") #{error.msg}
        block content 
        br
        hr
        footer 
            p Copyright &copy; 2021
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="/js/main.js") 